body{
    width: 100vw;
    height: 100vh;
}
#templates{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 40%;
    height: 40%;
}

#line-game{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#pixel-game{
    height: 100%;
    width:  100%;
    font-size: small;
    border: solid 1px black;
}

