body{
    width: 100vw;
    height: 100vh;
    background-image : url(../heartIcon.png);
    background-repeat: no-repeat, no-repeat;

}

header{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: large;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#templates{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    height: 50%;
}

.line-game{
    height: 10%;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: row;
}

.pixel-game{
    height: 100%;
    width:  100%;
    font-size: small;
    background-color: pink;
    display: flex;
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    background-size: auto    ;


}

/* .pixel-background-img{
    max-height: 100%;
    max-width: 100%;
} */
#footer{
    left: 2rem;
    position: absolute;;
    bottom: 0;
}

