:root{
    --DarkSlateBlue : #483D8B;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--DarkSlateBlue);
}

header{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: large;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#templates{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
    height: 60%;
    align-items: center;
    justify-content: center;
    border : solid 10px black;
}

.line-game{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 600px;
    min-width: 600px;
    max-width: 600px;
}

.pixel-game{
    height: 100%;
    width:  100%;
    font-size: small;
    /* border : solid 1px black; */
    background-color: pink;
    display: flex;
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    background-size: auto    ;  


}

/* .pixel-background-img{
    max-height: 100%;
    max-width: 100%;
} */
#footer{
    left: 2rem;
    position: absolute;;
    bottom: 0;
}

